.content {
    display: grid;
    background-color: var( --card-background);
   
}
.contentLabel {
  display: grid;
  grid-template-columns: 1fr  1fr;
  margin-bottom: var(--alignmentM);
}
.sigContainer {
  margin: 0 auto;
  background-color:var(--color-white);
}
.content .topBar {
  display: grid;
  grid-template-columns: 50px 80px 1fr 80px;
  padding:  0 var(--alignmentM);
  text-align:center;
  margin: var(--alignmentXM) 0;
  background-color: var( --card-background);
}
.handwritingTitle{
  font-size: var(--fontSizeXXXM);
  font-weight: var(--fontNormal);
}
.clearBtnText {
  margin: 0 var(--alignmentS);
  background-color: var(--line-color);
}
.topBar .btnTxt {
  margin: 0 var(--alignmentS);
  background-color: var(--color-lightRed);
}
.clearIcon{
  margin:var(--alignmentXMS) 0;
  cursor: pointer;
}

