.AgentLoginPage {
  width: 100%;
  height: calc(100% - 56px);
  /* background-image: url("../../assets/images/loginBackground.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* background-position: calc(100%);  */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: top
}

.LeftSection {
  /* border: 1px solid #000000; */
  margin: var(--nf2f-margin100) 0;
  width: calc(100vw * (537/1194));
  margin-left: 100px;
}

.RightSection {
  /* border: 1px solid #000000; */
  /* margin: var(--nf2f-margin100) 0; */
  width: calc(100vw * (657/1194));
  background: url("../../assets/images/loginBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #e8e7e3
}

.RightSectionContainer {
  margin: var(--nf2f-margin100) 0 var(--nf2f-margin100) calc(100vw * (101/1194));
}

.Title {
  font-weight: var(--fontSemiBold);
  font-family: var(--nf2f-font-family);
  font-size: var(--nf2f-fontSizeXL);
  margin: 0;
  padding: var(--nf2f-padding16) 0;
}

.Subtitle {
  font-weight: var(--fontBold);
  font-family: var(--nf2f-font-family);
  font-size: var(--nf2f-fontSizeXL);
  color: var(--nf2f-color-black);
  margin: 0;
}

.InputBox {
  padding: var(--nf2f-padding16) 0;
  width: 287px;
}

.ForgotPassword {
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeS);
  font-family: var( --nf2f-font-family);
  width: auto;  
  cursor: pointer;
}

.LoginButton {
  max-width: 144px;
  height: 50px;
} 

.LoginError {
  font-size: var(--nf2f-fontSizeS);
}

.endAdornment {
  margin-right: 8px;
}

.showError {
  color: var(--nf2f-error-color);
}

@media only screen and (max-width: 786px) {
  .AgentLoginPage {
    background-image: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .LeftSection {
    margin: 0px;
  }

  .RightSection {
    margin: 0px;
    margin-bottom: 100px;
    background: transparent;
  }

  .RightSectionContainer {
    margin: 0px;
  }
}