.ClientLoginPage {
  width: 100%;
  height: calc(100% - 56px);
  /* background-image: url("../../assets/images/loginBackground.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(100%);  */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top
}

.LeftSection {
  /* border: 1px solid #000000; */
  margin: var(--nf2f-margin100) 0;
  width: calc(100vw * (537/1194));
  margin-left: 100px;
  /* width: 321px; */
}

.RightSection {
  /* border: 1px solid #000000; */
  /* margin: var(--nf2f-margin100) 0; */
  width: calc(100vw * (657/1194));
  background: url("../../assets/images/loginBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #e8e7e3;
}

.TextColor {
  color: var(--nf2f-color-black);
}

.RightSectionContainer {
  margin: var(--nf2f-margin100) 0 var(--nf2f-margin100) calc(100vw * (101/1194));
}

.Title {
  font-weight: var(--fontNormal);
  font-family: var(--nf2f-font-family);
  font-size: var(--nf2f-fontSizeXL);
  margin: 0;
  /* padding: var(--nf2f-padding16) 0; */
}

.Subtitle{
  font-weight: var(--fontBold);
  font-family: var(--nf2f-font-family);
  font-size: var(--nf2f-fontSizeXL);
  padding-bottom: var(--nf2f-padding10);
  margin: 0;
}

.InputBox {
  padding: var(--nf2f-padding16) 0 ;
  width: 287px;
}

.LoginError {
  font-size: var(--nf2f-fontSizeS);
  padding-bottom: var(--nf2f-padding16);
}

.endAdornment {
  margin-right: 8px;
}

.showError {
  color: var(--nf2f-error-color);
}

.ForgotPassword {
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeS);
  font-family: var( --nf2f-font-family);
}

.LoginButton {
  max-width: 144px;
}

.MobileControlVisible {
  visibility: hidden;
}

.MobileControlHidden {
  visibility: visible;
}

@media only screen and (max-width: 480px) {
  .LeftSection {
    margin: 0px;
    padding: 86px 20px 0px 20px;
    width: 100%;
    background: url("../../assets/images/loginBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }

  .InputBox {
    width: 100%;
  }

  .RightSection {
    display: none;
  }

  .MobileControlVisible {
    visibility: visible;
  }
  
  .MobileControlHidden {
    visibility: hidden;
  }
}

@media only screen and (max-height: 480px) {
  .LeftSection {
    margin: 0px;
    padding: 20px calc(100vw * (200/812));
    width: 100%;
    background: url("../../assets/images/loginBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    overflow: auto;;
  }

  .InputBox {
    width: 100%;
  }

  .RightSection {
    display: none;
  }

  .MobileControlVisible {
    visibility: visible;
  }
  
  .MobileControlHidden {
    visibility: hidden;
  }
}

.Loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}