.ClientNamePage {
  width: 100%;
  height: calc(100% - 56px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.LeftSection {
  margin: var(--nf2f-margin100) 0;
  margin-left: 100px;
  width: calc(100vw * (537/1194));
}

.RightSection {
  width: calc(100vw * (657/1194));
  background: url("../../assets/images/loginBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #e8e7e3;
}

.RightSectionContainer {
  margin: var(--nf2f-margin100) 0 var(--nf2f-margin100) calc(100vw * (101/1194));
}

.TextColor {
  color: var(--nf2f-color-black);
}

.Title {
  font-weight: var(--fontNormal);
  font-family: var(--nf2f-font-family);
  font-size: var(--nf2f-fontSizeXL);
  margin: 0;
}

.Subtitle {
  font-weight: var(--fontBold);
  font-family: var(--nf2f-font-family);
  font-size: var(--nf2f-fontSizeXL);
  padding-bottom: var(--nf2f-padding10);
  margin: 0;
}

.InputMessage {
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeM);
  color: var(--nf2f-color-black);
  letter-spacing: normal;
  text-align: left;
  padding-top: var(--nf2f-padding35);
}

.InputErrorMessage {
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontBold);
  font-size: var(--nf2f-fontSizeM);
  color: var(--nf2f-error-color);
}

.InputBox {
  padding: var(--nf2f-padding23) 0 var(--nf2f-padding35) ;
  width: 287px;
}

.EnterButton {
  max-width: 144px;
}

.Loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.MobileControlHidden {
  visibility: visible;
}

@media only screen and (max-width: 480px) {
  .ClientNamePage  {
    height: 100%;
  }

  .LeftSection {
    box-sizing: border-box;
    margin: 0px;
    padding: 86px 20px 0px 20px;
    width: 100%;
    background: url("../../assets/images/loginBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .RightSection {
    display: none;
  }

  .InputBox {
    width: 100%;
  }

  .EnterButton {
    margin-top: auto;
    padding-bottom: 100px;
    max-width: 100%;
  }

  .MobileControlVisible {
    visibility: visible;
  }

  .MobileControlHidden {
    visibility: hidden;
  }
}

@media only screen and (max-height: 480px) {
  .ClientNamePage  {
    height: 100%;
  }

  .LeftSection {
    margin: 0px;
    padding: 20px calc(100vw * (200/812));
    width: 100%;
    background: url("../../assets/images/loginBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    overflow: auto;;
  }

  .RightSection {
    display: none;
  }

  .InputBox {
    width: 100%;
  }

  .MobileControlVisible {
    visibility: visible;
  }
  
  .MobileControlHidden {
    visibility: hidden;
  }
}