.ResetPasswordDialog {
  box-sizing: border-box;
  width: 441px;
  height: 432px;
  background-color: var(--nf2f-color-white);
  position: absolute;
  top: calc(50% - 56px);
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.CloseIcon {
  position: absolute;
  top: 15px;
  left: 15px;
}

.Wrapper {
  position: absolute;
  top: 65px;
  left: 77px;
}

.Title {
  height: 38px;
  margin: 17px 0;
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontBold);
  font-size: var(--nf2f-fontSizeXL);
}

.Title span:nth-child(2) {
  font-weight: var(--fontNormal);
}

.Subtitle{
  height: 23px;
  margin: 17px 0;
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeL);
}

.InputBox {
  width: 287px;
  height: 56px;
  margin: 15px 0;
}

.InputBox:last-of-type {
  margin-bottom: 30px;
}

.ConfirmButton {
  width: 144px;
  height: 50px;
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontSemiBold);
  font-size: var(--nf2f-fontSizeL);
}