.LandingPage {
  width: 100%;
  height: calc(100% - 56px);
  background: url("../../assets/images/background.png") no-repeat fixed;
    background-position: 90% 50%;
    background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

/* @media screen and (max-width: 768px) {
  .LandingPage {
    background-position: calc(50%) calc(50%); 
  }
} */

.LeftSection,
.RightSection {
  width: 341px;
  height: 321px;
  position: relative;
  background-color: var(--nf2f-client-crad-bg-color);
  color: var(--nf2f-font-black);
  background-repeat: no-repeat;
  background-position: 90% 25%;
  background-image: url(../../assets/images/buttonBackground.png);
  cursor: pointer;
}

.LeftSection {
  margin-right: 35px;
}

.RightSection {
  margin-left: 35px;
}

.LeftSection:hover, 
.RightSection:hover {
  background-color: #A70532;
  color: var(--nf2f-font-white);
}

.TitleWrapper {
  padding: var(--nf2f-padding37);
  width: auto;
  height: auto;
  /* width: 183px; */
  /* height: 83px; */
}

/* .Link {
  text-decoration: none;
  color: var(--nf2f-color-black);
}

.Link:hover {
  color: var(--nf2f-color-white);
} */

.Title {
  font-weight: var(--fontSemiBold);
  font-family: var(--nf2f-font-family);
  font-size: var(--nf2f-fontSizeXL);
  margin: 0;
}

.Subtitle {
  font-weight: var(--fontNormal);
  font-family: var(--nf2f-font-family);
  font-size: var(--nf2f-fontSizeXL);
  margin: 0;
}

.RefreshIcon,
.AddIcon {
  position: absolute;
  top: 259px;
  left: 286px;
  width: 30px;
  height: 30px;
}

.AddIcon, 
.RefreshIcon {
  color: var(--nf2f-color-black);
}

.LeftSection:hover .AddIcon, 
.RightSection:hover .RefreshIcon {
  color: var(--nf2f-color-white)
}