.container {
    height: calc(100% - var(--nf2f-application-stepper-height) - var(--nf2f-headerBar-height) - var(--nf2f-bottom-height));
    overflow: auto;
}

.cafeForm {
    height: 100% !important;
}