.container {
    height: calc(100vh - var(--nf2f-headerBar-height) - var(--nf2f-application-stepper-height) - var(--nf2f-bottom-height));
    width: 100%;
    display: grid;
    grid-template-areas: "nf2f-sideBar nf2f-signFrame";
    grid-template-columns: minmax(0, var(--nf2f-sideBar-width)) minmax(0, auto);
}

.sideBar {
    height: calc(100vh - var(--nf2f-headerBar-height) - var(--nf2f-application-stepper-height) - var(--nf2f-bottom-height));
    grid-area: nf2f-sideBar;
}

.iframe {
    grid-area: nf2f-signFrame;
    height: 99%;
    width: 100%;
    border: 0;
}

.hidden {
    display: none;
}
