.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: -moz-calc(100% - var(--nf2f-headerBar-height) - var(--nf2f-application-stepper-height) - var(--nf2f-bottom-height));
    /* Firefox */
    height: -webkit-calc(100% - var(--nf2f-headerBar-height) - var(--nf2f-application-stepper-height) - var(--nf2f-bottom-height));
    /* Chrome, Safari */
    height: calc(100% - var(--nf2f-headerBar-height) - var(--nf2f-application-stepper-height) - var(--nf2f-bottom-height));
    /* IE9+ and future browsers */
}

.centerWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: calc(100%  - var(--nf2f-headerBar-height) - var(--nf2f-bottom-height)) ;
}

.policyNumberText {
    font-weight: var(--fontSemiBold);
    padding: 12px 0px 66px 0px;
}

.buttonGap {
    margin-left: var(--nf2f-padding30);
}