.ApplicationSummery{
  width: 100%;
}

.ToolSection {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  /* position: sticky; */
  top: 56px;
  background-color: var(--nf2f-color-white);
}

.StatusSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Status{
  margin: 20px;
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontSemiBold);
  font-size: var(--nf2f-fontSizeL);
  cursor: pointer;
}

.StatusSelect {
  color: var(--nf2f-color-dark-red);
}

.AddIconBox {
  margin: 20px;
  width: 30px;
  height: 30px;
  background-color: var(--nf2f-color-dark-red);
  border-radius: 30px;
  /* border: 1px solid #000000; */
}

.AddIcon {
  width: 100%;
  height: 100%;
  fill: var(--nf2f-color-white);
}

.ClientCardSection {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: calc(100vh - var(--nf2f-headerBar-height) - 100px);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}