.SupportingDocument {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - var(--nf2f-application-stepper-height) - var(--nf2f-headerBar-height) - var(--nf2f-bottom-height));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 0 33px; */
  overflow-y: scroll;
}

.ContentBox {
  padding: 50px;
  margin: auto;
}

.Title {
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontSemiBold);
  font-size: var(--nf2f-fontSizeL);
}

.RowStyle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0;
}

.Number {
  height: 24px;
  width: 24px;
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeS);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nf2f-primary-color);
  color: var(--nf2f-color-white);
}

.Subtitle {
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeM);
  color: var(--nf2f-color-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.VerticalLine1,
.VerticalLine2 {
  margin: 10px;
  height: 100px;
  width: 2px;
  background-color: var(--nf2f-primary-color);
}

.VerticalLine2 {
  height: 210px;
}

.DropdownBox {
  box-sizing: border-box;
  width: 907px;
  height: 56px;
  border: 1px solid var(--nf2f-border-color);
  border-radius: 2px;
  margin: 20px;
  text-align: center;
  position: relative;
}

.DropdownText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  
}

.Text{
  color: var(--nf2f-color-black);
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeM);
}

.DropdownList {
  background-color: var(--nf2f-color-white);
  border: 1px solid var(--nf2f-border-color);
  border-radius: 2px;
  box-sizing: border-box;
  width: calc(100% + 2px);
  list-style-type: none;
  padding: 20px;
  margin: 0;
  position: absolute;
  left: -1px;
  z-index: var(--nf2f-zIndex100);
}

.DropdownItem {
  text-align: left;
  padding: 10px 0;
  color: var(--nf2f-color-black);
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeM);
}

.UploadBox{
  box-sizing: border-box;
  width: 907px;
  height: 192px;
  border: 1px dashed var(--nf2f-border-color);
  border-radius: 2px;
  margin: 20px;
  text-align: center;
  position: relative;
}

.InputFile {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.UploadIconAndText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
    /* z-index: -1; */
}

.FileNameText {
  color: var(--nf2f-color-black);
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeL) !important;
}

.FileNameText span, .highlightColor {
  color: var(--nf2f-primary-color);
}

/* .ShareMode {
  position: fixed;
  border: 3px solid green;
  width: 100%;
  height: calc(100vh - var(--nf2f-headerBar-height) - var(--nf2f-application-stepper-height) - var(--nf2f-bottom-height));
  z-index: -1;
}

.NotShareMode {
  position: fixed;
  border: 3px solid green;
  width: 100%;
  height: calc(100vh - var(--nf2f-headerBar-height) - var(--nf2f-application-stepper-height) - var(--nf2f-bottom-height));
  z-index: 999;
} */

.downloadText {
  cursor: pointer;
}