.ClientCard {
  /* border: 1px solid #000000; */
  box-sizing: border-box;
  width: 451px;
  height: 200px;
  padding: 10px 10px;
  margin: 10px;
  background-color: var(--nf2f-client-crad-bg-color);
  border-radius: 2px;
  cursor: pointer;
}

.ClientCard:hover,
.ClientCard:hover .ContentItem .ItemTitle,
.ClientCard:hover .ContentItem .ItemValue {
  background-color: var(--nf2f-client-card-hover-bg-color);
  color: var(--nf2f-color-white);
}



.StatusWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.Status {
  /* border: 1px solid #000000; */
  box-sizing: border-box;
  width: 105px;
  height: 26px;
  border-radius: 35px;
  padding: 4px 20px;
  margin: 7px;
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeS);
  text-align: center;
}

.InProgress {
  background-color: var(--nf2f-status-in-progress-color);
  color: var(--nf2f-status-in-progress-text-color);
}

.Submitted {
  background-color: var(--nf2f-status-submitted-color);
  color: var(--nf2f-status-submitted-text-color);
}

.Deleted {
  background-color: var(--nf2f-status-deleted-color);
  color: var(--nf2f-status-deleted-text-color);
}

.ToolIcon {
  width: 24px;
  height: 24px;
  margin: 7px;
}

.AdvanceSetting {
  width: 24px;
  height: auto;
  position: relative;
}

.AdvanceSetting ul {
  list-style-type: none;
  margin: 0;
  padding: 14px;
  cursor: pointer;
  position: absolute;
  left: -1px;
  z-index: var(--nf2f-zIndex200);
  width: auto;
  color: black !important;
  background-color: var(--nf2f-color-white);
}

.ApplicationDetails {
  /* border: 1px solid #000000; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ProductName {
  font-size: var(--nf2f-fontSizeS);
  font-family: var(--nf2f-font-family);
  color: var(--nf2f-font-black);
  padding-bottom: 11px;
}

.ClientCard:hover .ProductName {
  color: var(--nf2f-font-white);
}

.AvatarBox {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-left: 30px;
  margin-right: 20px;
}

.Avatar {
  width: 100% !important;
  height: 100%  !important;
  font-size: xxx-large !important;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
}

.ClientName {
  /* border: 1px solid #000000; */
  width: 100%;
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontSemiBold);
  font-size: var(--nf2f-fontSizeL);
  text-transform: uppercase;
  /* margin-bottom: 3px; */
}

.ContentItem {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.ItemTitle {
  display: inline-block;
  width: 130px;
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeS);
  color: var(--nf2f-color-grey);
}

.ItemValue {
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeS);
  color: var(--nf2f-color-black);
  width: 120px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.ClientCard:hover .AdvanceExpandIcon {
  fill: var(--nf2f-color-white);
}

.advanceOptionItem {
  display: flex;
  flex-direction: row;
}

.advanceOptionItem .advanceOptionText {
  color: var(--nf2f-client-card-hover-bg-color);
}

.AdvanceSetting ul {
  box-shadow: 0px 2px 4px #00000029;
  border-radius: 2px;
}