.ApplicationStepper {
  border-bottom: 1px solid var(--nf2f-color-light-grey);
  box-sizing: border-box;
  width: 100%;
  background-color: var(--nf2f-color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 20px 10px;
  height: var(--nf2f-application-stepper-height);
  /* position: sticky; */
  top: var(--nf2f-headerBar-height);
}

.Link {
  text-decoration: none;
}

.ApplicationStep {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

.Number {
  width: 24px;
  height: 24px;
  background-color: var(--nf2f-color-light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  color: var(--nf2f-color-white);
  margin: 5px;
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeS);
}

.NumberFinish {
  background-color: var(--nf2f-primary-color);
  color: var(--nf2f-color-white);
}

.Title {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--nf2f-color-grey);
  margin: 5px;
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeS);
}

.TitleFinish {
  color: var(--nf2f-secondary-color);
  font-weight: var(--fontSemiBold);
}

.LineBreak {
  height: 2px;
  background-color: var(--nf2f-color-grey);
  flex-grow: 1;
  margin: 0 10px;
  border-radius: 10px;
}

.checkIcon {
  width: 20px;
  height: 20px;
}