.EABConference {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - var(--nf2f-headerBar-height));
}

.Centering {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loadingText {
  font-family: var(--nf2f-font-family);
  font-size: var(--nf2f-fontSizeXL);
  font-weight: var(--fontSemiBold);
  text-align: center;
  margin: 0;
}

.FullScreenButton {
  position: fixed;
  top: 0;
  right: 0;
}

.FullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.FaceVideoBox {
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 160px;
  height: 122px;
  z-index: 100;
  /* background-color: #ffffff; */
  /* border: 2px solid var(--nf2f-color-black); */
  border-radius: 4px;
}

.FaceVideoBox video {
  box-sizing: border-box;
  width: 100%;
}

.TimeRecorderContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.RedDot {
  display: none;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 6px;
}

.TimeRecorder {
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeXS);
  color: var(--nf2f-color-white);
}

.Datetime {
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontNormal);
  font-size: var(--nf2f-fontSizeXS);
  color: var(--nf2f-color-white);
}

.ScreenVideoBox {
  box-sizing: border-box;
  height: calc(100%);
  position: relative;
}

.ScreenVideoBox video {
  border: none !important;
  height: 100% !important;
  width: 100% !important;
  position: relative !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 2 !important;
  background-color: #000000;
}

video {
  position: absolute;
}

.BottomWrapper {
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  background-color: #ffffff;
}

.FullScreenIcon {
  display: block;
  margin: auto;
  cursor: pointer;
}

.BottomWrapper p {
  text-align: center;
}

.PopUpCloseIcon {
  position: absolute;
  top: 15px;
  left: 15px;
}

.SelfieTitleContainer {
  padding: 65px 77px 24px 77px;
  text-align: center;
}

.SelfieTitleText {
  font-family: var(--nf2f-font-family);
  font-size: var(--nf2f-fontSizeL);
  font-weight: var(--fontNormal);
}

.SelfieContentContainer {
  height: 90vh;
  position: relative;
  padding: 0px;
}

.SelfieContentContainer .CenterBox {
  position: relative;
  width: 100%;
  height: 100%;
}

.CenterBox video {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  height: 100% !important;
  width: auto !important;
}

.CenterBox canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1001;
}

.SelfieActionsContainer {
  display: flex;
  justify-content: center;
  padding: 30px 100px 65px;
}

.signatureDialogContent {
  /* height: 500px; */
  padding: 20px 60px;
}

.SignatureTitleContainer {
  padding: 65px 77px 25px 77px;
}

.SignatureTitleText {
  font-family: var(--nf2f-font-family);
  font-size: var(--nf2f-fontSizeL);
  font-weight: var(--fontNormal);
}

.SignatureContentContainer {
  /* width: 609px; */
  /* height: 272px; */
  width: auto;
  height: auto;
  position: relative;
  padding: 0px 77px 0px;
}

.SignatureActionsContainer {
  display: flex;
  justify-content: space-between;
  padding: 25px 77px 65px;
}

.ErrorTitleContainer {
  padding: 40px;
}

.ErrorTitleText {
  font-family: var(--nf2f-font-family);
  font-size: var(--nf2f-fontSizeL);
  font-weight: var(--fontNormal);
}

.ErrorDialogAction {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.SignatureBox {
  height: calc((270 / 801) * 100vh) !important;
  width: calc((600 / 1195) * 100vw) !important;
}

@media screen and (orientation: portrait) and (max-width: 415px) {
  .EABConference {
    width: 100%;
    height: calc(100%);
  }

  .BottomWrapper {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .FullScreenIcon {
    display: none;
  }

  .FaceVideoBox {
    top: auto;
    bottom: 60px;
    width: calc(100% * 0.3);
    border: none;
    border-radius: 0px;
  }

  .FaceVideoBox video {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid var(--nf2f-color-black);
    border-radius: 4px;
    display: block;
  }

  .TimeRecorderContainer {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 8px;
  }
  
  .RedDot {
    display: none;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    margin-right: 6px;
  }
  
  .TimeRecorder {
    font-size: var(--nf2f-fontSizeXXS);
    color: var(--nf2f-color-black);
  }
  
  .Datetime {
    font-size: var(--nf2f-fontSizeXXS);
    color: var(--nf2f-color-black);
  }

  .ScreenVideoBox {
    box-sizing: border-box;
    width: 100%;
    /* height: calc(100%); */
    position: relative;
  }

  .ScreenVideoBox video {
    box-sizing: border-box !important;
    /* border: 2px solid var(--nf2f-color-black); */
    /* height: 100%; */
    width: 100% !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  .loadingText {
    font-size: var(--nf2f-fontSizeM);
  }
}

@media screen and (orientation: landscape) and (max-width: 824px) {
  .BottomWrapper {
    display: none;
  }

  .EABConference {
    height: calc(100% - 40px - 1px);
    background-color: var(--nf2f-color-black);
  }

  .FaceVideoBox {
    top: auto;
    bottom: 20px;
    width: calc(100% * 0.15);
    border: none;
    border-radius: 0px;
    background-color: var(--nf2f-color-black);
  }

  .FaceVideoBox video {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid var(--nf2f-color-black);
    border-radius: 4px;
    display: block;
  }

  .TimeRecorderContainer {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 8px;
  }
  
  .RedDot {
    display: none;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    margin-right: 6px;
  }
  
  .TimeRecorder {
    font-size: var(--nf2f-fontSizeXXS);
    color: var(--nf2f-color-white);
  }
  
  .Datetime {
    font-size: var(--nf2f-fontSizeXXS);
    color: var(--nf2f-color-white);
  }

  .ScreenVideoBox {
    box-sizing: border-box;
    height: 100%;
    position: relative;
  }

  .ScreenVideoBox video {
    box-sizing: border-box !important;
    /* border: 2px solid var(--nf2f-color-black); */
    /* height: 100%; */
    /* width: 100%; */
    height: 100% !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

  .CenterBox canvas {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }

  .SelfieTitleContainer {
    padding: 20px 77px 24px 77px;
  }

  .SelfieActionsContainer {
    display: flex;
    justify-content: center;
    padding: 30px 100px 20px;
  }

  .loadingText {
    font-size: var(--nf2f-fontSizeML);
  }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
  .SignatureBox {
    /* width: 600px !important; */
    /* height: 270px !important; */
    /* width: calc((600 / 1195) * 100vh) !important; */
    /* height: calc((270 / 801) * 100vw) !important; */
    width: 100% !important;
    height: auto !important;
  }

  .SignatureTitleContainer {
    padding: 16px 24px;
  }

  .SignatureContentContainer {
    padding: 8px 24px;
  }

  .SignatureActionsContainer {
    padding: 8px;
  }
}

@media screen and (orientation: landscape) and (max-height: 480px) {
  /* .SignatureBox {
    border-color: red !important;
  } */

  .SignatureTitleContainer {
    padding: 16px 24px;
  }

  .SignatureContentContainer {
    padding: 8px 24px;
  }

  .SignatureActionsContainer {
    padding: 8px;
  }
  .SignatureBox {
    height: calc((270 / 801) * 90vh) !important;
  }
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .SignatureBox {
    width: 100% !important;
  }
}

@media screen and (orientation: landscape) and (max-height: 789px) {
  .SignatureBox {
    width: 100% !important;
  }
}