.rcw-widget-container {
    margin: 0;
    position: inherit;
}

.rcw-conversation-container .rcw-header {
    background: var(--primary-color);
}

.rcw-client {
    background: var(--primary-color);
    color: var(--font-white);
}