body {
    /* Theme Color */
    --nf2f-primary-color: #A6161D;
    --nf2f-secondary-color: #333333;
    --nf2f-disable-color: #E0E0E0;
    --nf2f-modal-bg-color: #33333358;
    --nf2f-client-crad-bg-color: #F6F6F6;
    /* Co-share with client card dropdown color */
    --nf2f-client-card-hover-bg-color: #A70532;

    --nf2f-status-in-progress-color: #FFEBC4;
    --nf2f-status-in-progress-text-color: #FF7F00;
    --nf2f-status-submitted-color: #D4F8C1;
    --nf2f-status-submitted-text-color: #49B610;
    --nf2f-status-deleted-color: #E0E0E0;
    --nf2f-status-deleted-text-color: #797979;
    --nf2f-error-color: #F24F4F;
    --nf2f-pause-color: #F24F4F;
    --nf2f-border-color: #E0E0E0;

    --nf2f-color-white: #FFFFFF;
    --nf2f-color-black: #333333;
    --nf2f-color-grey: #797979;
    --nf2f-color-dark-grey: #707070;
    --nf2f-color-light-grey: #C7C7C7;
    --nf2f-color-dark-red: #A70532;

    --nf2f-font-white: var(--nf2f-color-white);
    --nf2f-font-black: var(--nf2f-color-black);

    /* Avatar Color */
    --nf2f-avatar-backgroundColor-1: #DBF0F3;
    --nf2f-avatar-backgroundColor-2: #CFDADF;
    --nf2f-avatar-backgroundColor-3: #C7D4E7;
    --nf2f-avatar-backgroundColor-4: #CFE0D6;
    --nf2f-avatar-backgroundColor-5: #F4D8D7;
    --nf2f-avatar-backgroundColor-6: #D6D4E9;
    --nf2f-avatar-backgroundColor-7: #E8DDD9;
    --nf2f-avatar-backgroundColor-8: #FCEAD4;

    --nf2f-avatar-textColor-1: #376668;
    --nf2f-avatar-textColor-2: #16323A;
    --nf2f-avatar-textColor-3: #0B2654;
    --nf2f-avatar-textColor-4: #1D422E;
    --nf2f-avatar-textColor-5: #733239;
    --nf2f-avatar-textColor-6: #282250;
    --nf2f-avatar-textColor-7: #563A2E;
    --nf2f-avatar-textColor-8: #82582B;

    /* Font Family */
    --nf2f-font-family: Source Sans Pro;

    /* Font Size */
    --nf2f-fontSizeXL: 30px;
    --nf2f-fontSizeML: 24px;
    --nf2f-fontSizeL: 18px;
    --nf2f-fontSizeM: 16px;
    --nf2f-fontSizeS: 14px;
    --nf2f-fontSizeXS: 12px;
    --nf2f-fontSizeXXS: 10px;

    /* Alignment */
    --nf2f-padding10: 10px;
    --nf2f-padding16: 16px;
    --nf2f-padding20: 20px;
    --nf2f-padding23: 23px;
    --nf2f-padding26: 26px;
    --nf2f-padding30: 30px;
    --nf2f-padding35: 35px;
    --nf2f-padding37: 37px;
    --nf2f-padding52: 52px;

    --nf2f-margin100: 100px;

    /* FontWeight */
    --fontLight: 200;
    --fontNormal: 400;
    --fontSemiBold: 600;
    --fontBold: 900;

    /* BorderRadius */
    --nf2f-borderRadiusS: 2px;

    /* Z-Index */
    --nf2f-zIndex100: 100;
    --nf2f-zIndex200: 200;
    --nf2f-zIndex1000: 1000;

    /* broadcastBar */
    --nf2f-broadcastBar-height: 44px;
    --nf2f-broadcastBarItem-width: 128px;

    /* HeaderBar*/
    --nf2f-headerBar-height: 56px;

    /* ApplicationStepper */
    --nf2f-application-stepper-height: 65px;

    /* Bottom Footer */
    --nf2f-bottom-height: 84px;

    /* sideBar */
    --nf2f-sideBar-width: 200px;
}
