.ToolBarWrapper {
  box-sizing: border-box;
  width: 100%;
  height: var(--nf2f-headerBar-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--nf2f-color-light-grey);
  position: sticky;
  top: 0;
  background-color: var(--nf2f-color-white);
}

.LeftSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;;
}

.LeftSection img {
  padding: var(--nf2f-padding16);
}

.RightSection .Name {
  display: inline-block;
}

.EBAConferenceTitle {
  font-family: var(--nf2f-font-family);
  font-weight: var(--fontSemiBold);
  font-size: var(--nf2f-fontSizeL);
  padding: var(--nf2f-padding16);
}

.RightSection .Name div {
  display: inline-block;
  padding: 5px;
  font-weight: var(--fontSemiBold);
  font-family: var(--nf2f-font-family);
}

.RightSection .Language {
  /* display: inline-block; */
  display: none;
  /* width: 80px; */
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  padding-left: 30px;
}

.RightSection .Language div div {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 5px 10px 5px;
  font-weight: var(--fontSemiBold);
  font-family: var(--nf2f-font-family);
}

.RightSection .Language ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  cursor: pointer;
  position: absolute;
  left: -1px;
  z-index: var(--nf2f-zIndex200);
  width: 100%;
  background-color: var(--nf2f-color-white);
}

.RightSection .Language ul li {
  padding: 4px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--nf2f-color-black);
  z-index: var(--nf2f-zIndex200);
}

.logoutDialog {
  /* margin: 40px; */
}

.logoutDialogPaper {
  width: 475px;
  height: auto;
}

.logoutDialogTitle {
  padding: 40px 40px 20px 40px !important;
}

.logoutDialogContent {
  padding: 0px 40px !important;
}

.logoutDialogFooter {
  padding: 20px 40px 40px 40px !important;
}

.logoutDialogTitleBold {
  font-weight: var(--fontBold);
}

@media screen and (orientation: portrait) and (max-width: 415px) {
  .LeftSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ToolBarWrapper {
    height: 40px;
  }

  .LeftSection img {
    padding-top: 10px;
    padding-bottom: 0px;
  }
}

@media screen and (orientation: landscape) and (max-height: 415px) {
  .LeftSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ToolBarWrapper {
    height: 40px;
  }

  .LeftSection img {
    padding-top: 10px;
    padding-bottom: 0px;
  }
}