.container {
    height: calc(100% - var(--nf2f-application-stepper-height));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../../assets/images/background.png") no-repeat fixed;
    background-position: 90% 50%;
    background-size: contain;
}

.descriptionContainer {
    padding-top: 30px;
    padding-bottom: 120px;
}

.typoBold {
    font-weight: var(--fontBold);
}