html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* .InSession {
    border: 3px solid transparent;
} */

.ShareMode {
    /* position: fixed; */
    border: 3px solid green;
    /* width: 100%; */
    height: calc(100vh - var(--nf2f-headerBar-height) - var(--nf2f-application-stepper-height) - var(--nf2f-bottom-height));
    /* z-index: -1; */
}

.NotShareMode {
    border: 3px solid transparent;
    height: calc(100vh - var(--nf2f-headerBar-height) - var(--nf2f-application-stepper-height) - var(--nf2f-bottom-height));
}

.ControlMode {
    pointer-events: all;
}

.NotControlMode {
    pointer-events: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

/* .NotShareMode { */
    /* position: fixed;
    border: 3px solid green;
    width: 100%;
    height: calc(100vh - var(--nf2f-headerBar-height) - var(--nf2f-application-stepper-height) - var(--nf2f-bottom-height));
    z-index: var(--nf2f-zIndex100); */
    /* pointer-events: none; */
/* } */

@keyframes mouse-pulse-effect {
    0% {
        width: 5px;
        height: 5px;
        /* background-color: var(--nf2f-client-card-hover-bg-color); */
        box-shadow: 0 0 0 0 var(--nf2f-client-card-hover-bg-color);
        opacity: 0;
    }
    25% {
        width: 5px;
        height: 5px;
        /* background-color: var(--nf2f-client-card-hover-bg-color); */
        box-shadow: 0 0 0 10px var(--nf2f-client-card-hover-bg-color);
        opacity: 0.25;
    }
    50% {
        width: 5px;
        height: 5px;
        /* background-color: var(--nf2f-client-card-hover-bg-color); */
        box-shadow: 0 0 0 20px var(--nf2f-client-card-hover-bg-color);
        opacity: 0.5;
    }
    75% {
        width: 5px;
        height: 5px;
        /* background-color: var(--nf2f-client-card-hover-bg-color); */
        box-shadow: 0 0 0 30px var(--nf2f-client-card-hover-bg-color);
        opacity: 0.25;
    }
    100% {
        width: 5px;
        height: 5px;
        /* background-color: var(--nf2f-client-card-hover-bg-color); */
        box-shadow: 0 0 0 40px var(--nf2f-client-card-hover-bg-color);
        opacity: 0;
    }
}

.mousePointer {
    display: none;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: transparent;
    animation: mouse-pulse-effect 0.5s ease-out 1;
    z-index: 1000;
}