.BottomWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 84px;
  padding: var(--nf2f-padding16);
  /* margin: 17px; */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--nf2f-color-white);
  box-sizing: border-box;
  z-index: 200;
}

.fabContainer{
  display: inherit;
  flex-direction: column;
}

.ButtonContainer {
  display: inherit;
}
.ButtonBox {
  margin-left: 17px;
}

.Button {
  max-height: 50px;
  min-width: 100px;
}

.shareDialog {
  margin: 60px;
}

.shareDialogTitle {
  padding: 60px 60px 20px 60px
}

.shareDialogTitleSemiBold {
  font-weight: var(--fontSemiBold);
}

.shareDialogTitleBold {
  font-weight: var(--fontBold);
}

.shareDialogContent {
  display: flex;
  flex-direction: column;
  padding: 0px 60px;
}

.shareDialogFooter {
  padding: 20px 60px 60px 60px;
}

.shareDialogContentRow {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: minmax(100px, auto) minmax(400px, auto);
  align-items: center;
}

.shareDialogContentColumnPadRight {
  align-self: flex-end;
  /* width: 400px; */
}

.shareDialogContentColumnPadLeft {
  align-self: flex-start;
}

.shareDialogEmailRegion {
  padding-top: var(--nf2f-padding20);
}

.emailRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid var(--nf2f-disable-color);
}

.emailStr {
  padding-left: 18.5px;
}

.closeIcon {
  color: var(--nf2f-secondary-color);
  margin-right: 6px;
  cursor: pointer;
}

.shareDialogClose {
  top: var(--nf2f-padding16);
  left: var(--nf2f-padding16);
  cursor: pointer;
  position: absolute;
}
